#wholething{
  /*background-color: #050506;*/
}
#bannerIMG{
}
#offline{
  visibility: hidden;
}

#twitch{
  display: block;
  align-content: center;
  text-align: center;
}

a{
  color: black;
  text-decoration: none;
}
